@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 1200px;
    /* position: absolute; */
    
}
body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; 
    color:#212121
    
}
.email:hover,
.email:focus{
    color: #2196F3 !important;
}

.phone:hover,
.phone:focus{
    color: #2196F3 !important; 
}

.logo{
    
    color: #2196F3 !important;
    font-size: 26px !important;
    font-weight: 700 !important;
    line-height: 1.17 !important;
    font-family: 'Raleway', sans-serif;
    margin: 24px 93px 25px 215px;
    
    

}

.navbar-link:hover,
.navbar-link:focus{
    color: #2196F3;
}

.button{
    background-color: #F5F4FA;
    color: #212121;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    border: none;
    border-radius: 4px;
    margin: 8px;
}


/* variables */
:root{
    --background-color: #2F303A;
    --letter-color: #757575;
    /* --paddingsection: 0px 0 94px 0; */
}


/* barra de navegacion */

/* contenedor */
.header-box{
    display: flex;
    width: 1600px;
    height: 80px;

}
.navbar-box{
    display: flex;
    
}
.navbar-link{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    color: #212121 ;
    margin: 32px 50px 32px 50px;
}
.direction-box > p{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    color:var(--letter-color)
}
.direction-box{
    display: flex;

}
.direction-box.email{
    margin: 32px 50px 32px 344px;
    
}
.direction-box.phone{
    margin: 32px 0px 32px 0px;
}




/* contenedor */
.main-title{
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: #FFFFFF;
    text-align: center;   
    padding: 200px 452px 30px 452px;
    
}
.button.banner{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    color: #FFFFFF;
    width: 261px;
    height: 50px;
    background-color:#2196F3 ;
    border: none;
    border-radius: 4px;
    margin: 30px 669px 200px 670px;
    padding: 10px 32px;
    

    
}
.header_banner{
    width: 1600px;
    height: 600px;    
    background-color: var(--background-color);   
    margin-bottom: 95px;
}









/* main */




.main-box{
    width: 1170px;
    height: 1360px;
    margin: 106px 215px 82px 215px;
}


.button:hover,
.button:focus{
    background-color: #2196F3;
    color: #ffff ;
    
}
/* main portafolio */

/* contenedor */
.filters{
    height: 38px;
    display: flex;
    margin: 0px 297px 34px 297px;
}
    

.button.all{
    width:73px ;
    height: 38px;
}
.button.web{
    width: 128px ;
    height: 38px;
    padding: 6px 24px;
}
.button.apps{
    width: 145px;
    height: 38px;
    padding: 6px 24px;
}
.button.design{
    width: 103px;
    height: 38px;
    padding: 6px 26px;
}
.button.marketing{
    width: 130px;
    height: 38px;
    padding: 6px 26px;
}

/* contenedor */
.proyects{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;

    
}
.proyects-container{
    width: 370px;
    height: 404px;
    /* margin-right: 30px; */
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.proyects-container:not(:nth-child(3n+3)){
    margin-right: 30px;
}

.proyects-container  span.title{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    

}

.proyects-container span.subtitle{
    font-size: 16px;   
    font-weight: 400;
    line-height: 1.8;
    color: var(--letter-color)
    
}
/* main estudio */

 /* contenedor */
.main-caracters{
    width: 1170px;
    height: 122px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    margin: 0px 215px 95px 215px;
    display: flex;       
}
.one,
.two,
.three,
.four{
    margin: 0px 30px 0px 0px;
    flex-direction: column;
    
}
.main-caracters >h5{
  margin-bottom: 10px;
 
  
}
.main-caracters span{
    width: 270px;
    height: 101px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--letter-color);    
    
}
/* contenedor */
.us{
    width: 371.15px;
    height: 46.24px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    margin: 0px 609.43px 55.05px 609.43px;
    
}
.img-box{
    display: flex;
    margin: 0px 215px 95px 215px;
}
.img-us{
    margin-right:30.26px ;
}

/* contenedor */
.main-about-team{
    width: 1600px;
    height: 648px;
    /* margin: 0px 208px 95px 208px; */
    background-color: #F5F4FA;
    padding-top: 94px;
 
}
.main-about-team-title{
    width: 263px;
    height: 42px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    margin: 0px 668px 50px 669px;
    
    
}
.main-about-team-people-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    color: #212121;
    margin-bottom: 10px;

}
.main-about-team-people{
    display: flex;
    margin: 0px 208px 95px 208px; 

    
}
.main-about-team-people > li{
    width: 270px;
    height: 368px;
    margin-right: 37px;
    background-color: white;
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px ;
    box-shadow: 0px 4px 4px ;
}
.main-about-team-people p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    color:var(--letter-color);
    display: flex;
    flex-direction: column;
    text-align: center;
   
}








/* footer */

footer{
    background-color: var(--background-color);
    width: 1600px;
    height: 252px;
    padding-top:60px ;
}

footer .logo{
    margin: 0px 156px 9px 215px ;
}

.address.city{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #FFFFFF;
}

.address.email,
.address.phone{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #FFFFFF99;
}
.section-redes{
    width: 206px;
    height: 80px;
    margin: 75px 878px 97px 70px;
}

.instagram,
.twitter,
.facebook,
.linkedin{
    margin: 20px 10px 0px 0px;
    
}

.redes > span{
    font-size: 700;
    font-weight: 700;
    line-height: 1.17;
    color: #FFFFFF;
}
/* contenedor */

.address-footer{
    width: 231px;
    /* height: 92px; */
    margin: 9px 70px 0px 215px;
    display: flex;

}


